<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	 <div class="header clearfix">
        <nav>
            <ul class="navbar">
                <a href="/">Home</a>
                    <%if(loggedIn){%>
                <a href="/users/" >UserHome</a>
                    <%}%>
                <a href="/reviews/new">CreateReview</a>
                <a href="/reviews">ViewAll</a>
                <a href="/users/login">Login</a>    
                <a href="/users/registration">Signup</a>
                <a href="/logout">Logout</a>
                    



            </ul>
            
        </nav>
    </div>

</body>
</html>