<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Review Page</title>
</head>
<body>
    <h1>Leave a new review</h1>
    <form action="/reviews" method="POST">
    Subject: <input type="text" name="subject"></br>
    Rating: <input type="text" name="rating"></br>
    Review: <textarea name="body" cols="30" rows="10"></textarea></br>
    <button type="submit">Create Review</button></br>
    
    
    </form>
    
</body>
</html>